{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block css_styles %}
    <link href="{{ url_for('static', filename='buy.css') }}" rel="stylesheet"/>
{% endblock %}

{% block main %}
    <div class="container">

        {% if added %}
            <div class="shadow p-3 mb-5 bg-white rounded">
                <p class="h3 text-success">Transaction Successful</p>
                    <p>Transaction Amount: {{ usd(transaction_amount) }}</p>
                    <p>Total Cash: {{ usd(cash) }}</p>
            </div>
        {% endif %}

        <div class="shadow-sm rounded p-3 mb-5 bg-white">
            <form class="form-add" method="post" action="/buy">

                <label class="sr-only" for="add_amount">Amount</label>
                <input
                        class="form-control"
                        name="amount"
                        required autocapitalize="on"
                        autocomplete="off"
                        id="add_amount"
                        placeholder="Amount"
                />

                <button type="submit" class="btn btn-block btn-primary">Add Fund</button>
            </form>
        </div>

    </div>
{% endblock %}